.title {
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
}

.fontweight {
  font-weight: 700;
}
.test{
  font-size:23px;
  text-align: center;
  color:#6cc
}
.test4{
  font-size:23px;
  text-align: center;
  color:#fcf
}
.test2{
  font-size:18px;
  text-align: center;
  color:#fcc
}.test3{
   font-size:12px;
   text-align: center;
   color:#dcf;
   background: #ccc;
   padding:5px;
  transform: rotate(189deg);
  transition: all .5s ease;
 }
 